// Colours
$rust: #a06a54;
$navy: #293951;
$brown: #bd9977;
$beige: #ece4cd;

// Fonts
$font-stack: Helvetica, Arial, sans-serif;
$Roboto: "Roboto", $font-stack;
$Optima: "Optima", $Roboto, $font-stack;
